/* CONTACT FIELD */

.contact {
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: whitesmoke;
    margin: auto;
    margin-top: 50px;
    max-width: 360px;
  }
  
  .contact p a {
    margin: -1em 0 0;
    padding: 0 0 0;
    color: whitesmoke;
    text-decoration: none;
  }
  
  .contact button {
    height: 48px;
    width: 120px;
    border: var(--second-color) 2px solid;
    border-radius: 4px;
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.0em;
    align-self: center;
    margin: 20px 0 20px;
  }
  
  .active {
    transform: scale(1.1);
    border: red 1px solid;
  }